/* CSS Resets  Starts*/
/* Reference: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CSS Resets Ends */

/* basic styles */

:root {
  --clr-light: #fdfdfa;
  --clr-dark: #010e0b;
  --clr-dark-lighter: #4a4d4c;

  --clr-neutral-1: #b3bbb0;
  --clr-neutral-2: #e4f0a3;
  --clr-primary: #e75b34;
  --clr-primary-dark: #8f341b;

  --foreground: var(--clr-dark);
  --foreground-light: var(--clr-dark-lighter);
  --background: var(--clr-light);

  --ff-heading: "Platypi", sans-serif;
  --ff-body: "Roboto", sans-serif;

  font-size: 0.8em;
}

[data-theme="dark"] {
  --clr-light: #d2d3ca;
  --clr-light-darker: #878884;
  --clr-dark: #010f0c;
  --clr-neutral-1: #1e2002;
  --clr-neutral-2: #00100d;
  --clr-primary: #ff7750;

  --foreground: var(--clr-light);
  --foreground-light: var(--clr-light-darker);
  --background: var(--clr-dark);
}

@media (min-width: 50em) {
  :root {
    font-size: 1em;
  }
}

/* @media (min-width: 90em) {
  :root {
    font-size: 1.2em;
  }
} */

body {
  background: linear-gradient(
    120deg,
    var(--clr-neutral-1),
    var(--clr-neutral-2)
  );
  color: var(--foreground);
  font-family: var(--ff-body);
  font-weight: 500;

  /* primary container */
  margin-top: 8em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

@media (min-width: 40em) {
  body {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 90em) {
  body {
    padding-left: 4em;
    padding-right: 4em;
    max-width: 90em;
    margin-left: auto;
    margin-right: auto;
  }
}

/* basic styles ends */

form {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
@media (min-width: 78em) {
  form {
    flex-direction: row;
    align-items: center;
    column-gap: 0.6em;
  }
}

/* search btn related styles */

#search-btn {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: none;
  height: 4.5em;
  width: 100%;
  border-radius: 0.5em;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 78em) {
  #search-btn {
    width: fit-content;
  }
}

[data-theme="dark"] #search-btn {
  background-color: var(--clr-neutral-1);
  color: var(--clr-light);
}

#search-btn:hover,
.search-btn:focus {
  background-color: var(--clr-primary-dark);
  color: var(--background);
  outline: none;
}

#search-btn:active {
  transform: scale(0.95);
}

[data-theme="dark"] #search-btn:hover,
.search-btn:focus {
  background-color: var(--clr-primary);
  color: var(--clr-dark);
  outline: none;
}

/* search btn related styles ends*/

/* search field div wrapper related styles */

.search-field-div-wrapper {
  display: grid;
  gap: 0.2em;
  grid-template:
    "departure   departure   departure   departure    departure   departure   departure   departure"
    "destination destination destination destination destination  destination destination destination"
    "departureDate departureDate  returnDate returnDate travelersAndMore travelersAndMore travelersAndMore travelersAndMore";
}

@media (min-width: 78em) {
  .search-field-div-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.25em;
    row-gap: 0.5em;
  }
}

/* search field div wrapper related styles ends*/

/* search field div related styles */
.search-field-div {
  display: flex;
  gap: 0.4em;
  flex-direction: column;
  padding-top: 1em;
  align-items: flex-start;
  height: 6em;
  padding-left: 1em;
  padding-right: 0.2em;
  background-color: var(--background);
}

.search-field-div:first-child {
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}

.search-field-div:last-of-type {
  border-bottom-right-radius: 0.75em;
}

.search-field-div:focus-within {
  outline: 3px solid var(--clr-primary);
}

.search-field-div label {
  display: block;
}

.search-field-div input {
  border: none;
  background-color: inherit;
  width: 100%;
  height: fit-content;
  display: block;
}

.search-field-div input:focus {
  outline: none;
}

@media (min-width: 78em) {
  .search-field-div {
    padding-top: 0em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    gap: 0.4em;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 8em;
    height: 4.5em;
    background-color: var(--background);
    position: relative;
  }

  .search-field-div input {
    border: none;
    background-color: inherit;
    width: 100%;
    height: fit-content;
    display: block;
  }

  .search-field-div:first-child {
    border-top-left-radius: 0.75em;
    border-bottom-left-radius: 0.75em;

    border-top-right-radius: 0em;
  }

  .search-field-div:last-of-type {
    border-bottom-right-radius: 0.75em;
    border-top-right-radius: 0.75em;
  }
}

#departure-div {
  grid-area: departure;
  position: relative;
}

#destination-div {
  grid-area: destination;
  padding-left: 1.5em;
}

#departure-date-div {
  grid-area: departureDate;
}

#return-date-div {
  grid-area: returnDate;
}

#travelers-and-more-div {
  grid-area: travelersAndMore;
}

@media (min-width: 78em) {
  #departure-div,
  #destination-div,
  #travelers-and-more-div {
    width: 15em;
  }

  #destination-div {
    padding-left: 1.5em;
  }
}

#swapButton {
  /* Styles to make the button look like the provided image */
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: -2.2em;
  right: 0.5em;
  transform: translate(-50%, -50%);
  z-index: 1;

  border: 0.2em solid var(--clr-primary);
  border-radius: 50%;
  width: 2.2em; /* Set the width of the button */
  height: 2.2em; /* Set the height of the button */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
  display: flex; /* Use flexbox for centering the icon */
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  transition: background-color 0.3s ease; /* Smooth background color change on hover */
}

#swapButton:hover {
  background-color: var(--clr-primary); /* Color of the button on hover */
}

#swapButton:focus {
  outline: none; /* Removes the outline to avoid default browser styles */
}

@media (min-width: 78em) {
  #swapButton {
    top: 50%;
    right: -15%;
  }
}

@media (max-width: 50em) {
  #swapButton i.fa-rotate {
    transform: translate(0%, 13%);
  }
}

#swapButton i.fa-rotate {
  /* color: #000000; Set the color of the icon */
  font-size: 1em; /* Set the size of the icon */
  transition: transform 0.3s ease; /* Smooth transform on hover */
}

#swapButton:hover i.fa-rotate {
  transform: rotate(180deg); /* Rotates the icon 180 degrees on hover */
}
/* search field div related styles ends */

/* travelers and other information related classes */

#travelers-dropdown {
  display: none;
  background-color: var(--background);
  width: 90vw;
  max-width: 28em;
  padding: 0.8em 1em;
  position: absolute;
  top: 50%; /* Position the top edge of the element at the center of the screen vertically */
  left: 50%; /* Position the left edge of the element at the center of the screen horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Shift the element back by half its width and height to truly center it */

  z-index: 10;
}

@media (min-width: 78em) {
  #travelers-dropdown {
    top: 5em; /* Position the top edge of the element at the center of the screen vertically */
    left: -6.8em; /* Position the left edge of the element at the center of the screen horizontally */
    transform: translate(0%, 0%);
  }
}

#travelers-and-more:focus + #travelers-dropdown,
#travelers-and-more:active + #travelers-dropdown,
#travelers-dropdown:focus,
#travelers-dropdown:active,
#travelers-dropdown:focus-within {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}

fieldset {
  border: none;
}

#travelers-dropdown fieldset {
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}

#travelers-dropdown label {
  margin-bottom: 0.5em;
}

#travelers-dropdown p {
  color: var(--foreground-light);
  font-size: small;
}

#travelers-dropdown button {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: none;
  height: fit-content;
  width: fit-content;
  border-radius: 0.5em;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#travelers-dropdown button:hover,
#travelers-dropdown button:focus {
  background-color: var(--clr-primary-dark);
  color: var(--background);
  outline: none;
}

#travelers-dropdown button:active {
  transform: scale(0.95);
}

[data-theme="dark"] #travelers-dropdown button {
  background-color: var(--clr-neutral-1);
  color: var(--clr-light);
}
[data-theme="dark"] #travelers-dropdown button:hover,
#travelers-dropdown button:focus {
  background-color: var(--clr-primary);
  color: var(--clr-dark);
  outline: none;
}

#travelers-dropdown select {
  width: 100%;
  height: 3em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  border-radius: 0.5em;
}

/* Hide the default increment and decrement buttons */
#travelers-dropdown input[type="number"]::-webkit-inner-spin-button,
#travelers-dropdown input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#travelers-dropdown input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

.number-input {
  display: flex;
  align-items: center;
}

.number-input input {
  width: fit-content;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 0.2em;
  padding-left: 0.2em;
  text-align: center;
}
/* Other styles */
.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 3em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.click-here {
  width: 100px;
  right: 3.5em;
  position: absolute;
  top: 3em;
}

.tag-line {
  font-family: var(--ff-heading);
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-primary);
}

/* Other styles ends*/

/* calender styles */
:host {
  --color-bg-default: var(--background);
  --color-fg-primary: var(--clr-primary);
  --color-fg-default: var(--foreground);
  --color-fg-accent: var(--clr-primary-dark);
  --color-bg-inrange: var(--clr-neutral-1);
  --day-width: 40px;
  --day-height: 32px;
}

@media (min-width: 78rem) {
  .container {
    margin-top: 1.9em; /* Adds 10px to the top margin, effectively lowering the position */
  }
}
