/* CSS Resets  Starts*/
/* Reference: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CSS Resets Ends */


/* basic styles */

:root {
  --clr-light: #fdfdfa;
  --clr-dark: #010e0b;

  --clr-neutral-1: #b3bbb0;
  --clr-neutral-2: #e4f0a3;
  --clr-primary: #e75b34;
  --clr-primary-dark: #8f341b;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff-heading: "Platypi", sans-serif;
  --ff-body: "Roboto", sans-serif;

  font-size: 0.8em;
}

[data-theme="dark"] {
  --clr-light: #d2d3ca;
  --clr-dark: #010f0c;
  --clr-neutral-1: #1e2002;
  --clr-neutral-2: #00100d;
  --clr-primary: #ff7750;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

@media (min-width: 50em) {
  :root {
    font-size: 1em;
  }
}

/* @media (min-width: 90em) {
  :root {
    font-size: 1.2em;
  }
} */

body {
  background: linear-gradient(
    120deg,
    var(--clr-neutral-1),
    var(--clr-neutral-2)
  );
  color: var(--foreground);
  font-family: var(--ff-body);
  font-weight: 500;

  /* primary container */
  margin-top: 8em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

@media (min-width: 40em) {
  body {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 90em) {
  body {
    padding-left: 4em;
    padding-right: 4em;
    max-width: 90em;
    margin-left: auto;
    margin-right: auto;
  }
}

/* basic styles ends */

form{
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
@media (min-width: 78em) {
  form {
     flex-direction: row;
     align-items: center;
     column-gap: 0.6em;
  }
}

/* search btn related styles */

#search-btn {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: none;
  height: 3em;
  width: 100%;
  border-radius: 0.5em;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 78em) {
  #search-btn {
    height: 3.725em;
    width: fit-content;

  }
}

[data-theme="dark"] #search-btn {
  background-color: var(--clr-neutral-1);
  color: var(--clr-light);
}

#search-btn:hover,
.search-btn:focus {
  background-color: var(--clr-primary-dark);
  color: var(--background);
  outline: none;
}

#search-btn:active {
  transform: scale(0.95);
}

[data-theme="dark"] #search-btn:hover,
.search-btn:focus {
  background-color: var(--clr-primary);
  color: var(--clr-dark);
  outline: none;
}

/* search btn related styles ends*/


/* search field div wrapper related styles */

.search-field-div-wrapper {
 
  display: grid;
  gap: 0.2em;
  grid-template:
    "departure   departure   departure   departure    departure   departure   departure   departure"
    "destination destination destination destination destination  destination destination destination"
    "departureDate departureDate  returnDate returnDate travelersAndMore travelersAndMore travelersAndMore travelersAndMore"
   
}

@media (min-width: 78em) {
  .search-field-div-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.25em;
    row-gap: 0.5em;
  }
}

/* search field div wrapper related styles ends*/


/* search field div related styles */
.search-field-div {
  display: flex;
  gap: .4em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 4.5em;
  padding-left: 1em;
  padding-right: 0.2em;
  background-color: var(--background);
}

.search-field-div:first-child {
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}

.search-field-div:last-of-type {
  border-bottom-right-radius: 0.75em;
}

.search-field-div:focus-within {
  outline: 3px solid var(--clr-primary); 
}

.search-field-div label {
  display: block;
}

.search-field-div input {
  border: none;
  background-color: inherit;
  width: 100%;
  height: fit-content;
  display: block;
}

.search-field-div input:focus {
  outline: none;
}

@media (min-width: 78em) {
  .search-field-div {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    gap: .4em;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 11em;
    height: 4.5em;
    background-color: var(--background);
  }

  .search-field-div input {
    border: none;
    background-color: inherit;
    width: 100%;
    height: fit-content;
    display: block;
  }
  

  .search-field-div:first-child {
    border-top-left-radius: 0.75em;
    border-bottom-left-radius: 0.75em;

    border-top-right-radius: 0em;
  }

  .search-field-div:last-of-type {
    border-bottom-right-radius: 0.75em;
    border-top-right-radius: 0.75em;
  }
}

#departure-div {
  grid-area: departure;
}

#destination-div {
  grid-area: destination;
}

#departure-date-div {
  grid-area: departureDate;
  overflow:hidden;
}

#return-date-div{
  grid-area: returnDate;
  overflow:hidden;
}

#travelers-and-more-div {
  grid-area: travelersAndMore;
  min-width: 9em;
}

@media (min-width: 78em) {

  #departure-div, #destination-div  {
    width: 15em;
  }

}

/* search field div related styles ends */

/* Other styles */
.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.click-here {
  width: 100px;
  right: 1.5em;
  position: absolute;
  top: 3em;
}

.tag-line {
  font-family: var(--ff-heading);
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-primary);
}

/* Other styles ends*/
